:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  width: 100vw;
  z-index: 1000;
  height: 3.5rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header p {
  font-size: large;
  font-weight: 500;
  margin: 0 1rem;
}

header select {
  border-radius: 8px;
  padding: 0.2rem;
}

h3 {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  width: 100vh;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

p {
  color: black;
}

#map {
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  width: 75%;
  height: 90vh;
  margin-left: 25%;
}

#markerInfo {
  position: relative;
  z-index: 1002;
  /* Add other styles as needed */
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex: 1 1 auto;
  padding: 0 1rem;
  height: 100vh;
  width: 50%; /* Limit the maximum width of the div */
  overflow-y: auto;
}

#object-list {
  background-color: white;
  z-index: 1000;
  height: 100%;
  width: 50%;
  padding: 0 1rem;
  overflow: auto;
  position: relative;
}

.leaflet-control-container {
  position: absolute;
  right: 56px;
}

#add-object-button {
  border: none;
}

#add-object-button:hover {
  background-color: #0033ff;
}

#reset-map-button {
  background-color: white;
  border: 2px solid #335cff;
  color: #335cff;
  font-size: 0.8em;
  font-weight: 600;
}

#reset-map-button:hover {
  background-color: #ececec;
}

#markerInfo label {
  color: black;
  font-weight: bold;
  display: inline-block; /* Labels and input fields on the same line */
  width: 30%; /* Adjust the width as needed */
  margin-right: 10px; /* Add spacing between labels and input fields */
  text-align: right; /* Align labels to the right */
}

#markerInfo input[type='text'] {
  width: 65%; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle; /* Align input fields vertically with labels */
}
#markerInfo select {
  width: 65%; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle; /* Align input fields vertically with labels */
}

/* CSS for display fields (e.g., <span>) */
#markerInfo span {
  display: inline-block; /* Display spans horizontally */
  width: 65%; /* Match the width of input fields */
  vertical-align: middle; /* Align spans vertically with labels */
  margin-right: 10px; /* Add spacing between spans and labels */
  color: black;
}

/* CSS for .default-button */
#markerInfo .default-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

#markerInfo .default-button:hover {
  background-color: #0056b3;
}
.update-message {
  z-index: 1000;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
}
.update-message.show {
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.container {
  z-index: 1000;
  width: 100vw; /* Use viewport width to fill the entire screen */
  height: 100vh; /* Use viewport height to fill the entire screen */
  position: fixed; /* Use fixed positioning to keep it centered */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background overlay */
}
#loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  max-width: 20%;
  max-height: 20%; /* Adjust the max-height as needed */
}

#loader p {
  text-align: center;
  color: black; /* Optional: Set text color to white or your desired color */
}
/* Add animation keyframes for the spinning effect */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the SVG element with ease-in-out timing */
#loader img {
  animation: spin 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.c-side-button {
  background-color: #335cff;
  position: relative;
  margin: 10px 15%;
  font-size: medium;
  width: 70%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: #1a1a1a;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0.5rem 0 0;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796';
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.c-collapsible-content {
  padding: 0 18px;
  background-color: #f1f1f1;
  overflow: auto;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.c-checkbox-label {
  color: black;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  font-size: small;
  margin: 5px;
}

.c-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.c-checkmark-span {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 2px;
}

.c-checkbox-label:hover input ~ .c-checkmark-span {
  background-color: #cccc;
  border-color: #335cff;
}

.c-checkbox-label input:checked ~ .c-checkmark-span {
  background-color: #ffffff;
}

.c-checkmark-span:after {
  content: '';
  position: absolute;
  display: none;
}

.c-checkbox-label input:checked ~ .c-checkmark-span:after {
  display: block;
}

.c-checkbox-label .c-checkmark-span:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .default-button {
    background-color: #f9f9f9;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#cancel {
  position: absolute;
  background: gray;
  color: white;
  top: 10px;
  right: 10px;
}

#cancel:hover {
  cursor: pointer;
}

.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.plus-minus {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.minus,
.plus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  text-align: center;
  margin: 5px;
}
