:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h3 {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: top; /* Align content to the top */
  height: 100vh; /* 100% of the viewport height */
  margin: 0; /* Remove default body margin */
  background-color: #f0f0f0; /* Optional background color */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#map {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#markerInfo {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 100vh;
  padding: 0 20px;
  width: 30rem; /* Limit the maximum width of the div */
  opacity: 0.9;
  overflow-y: auto;
}

#markerInfo label {
  color: black;
  font-weight: bold;
  display: inline-block; /* Labels and input fields on the same line */
  width: 30%; /* Adjust the width as needed */
  margin-right: 10px; /* Add spacing between labels and input fields */
  text-align: right; /* Align labels to the right */
}

#markerInfo input[type='text'] {
  width: 65%; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle; /* Align input fields vertically with labels */
}
#markerInfo select {
  width: 65%; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle; /* Align input fields vertically with labels */
}

/* CSS for display fields (e.g., <span>) */
#markerInfo span {
  display: inline-block; /* Display spans horizontally */
  width: 65%; /* Match the width of input fields */
  vertical-align: middle; /* Align spans vertically with labels */
  margin-right: 10px; /* Add spacing between spans and labels */
  color: black;
}

/* CSS for .default-button */
#markerInfo .default-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#markerInfo .default-button:hover {
  background-color: #0056b3;
}
.update-message {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 20px;
  right: 55px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
}
.update-message.show {
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.container {
  z-index: 1000;
  width: 100vw; /* Use viewport width to fill the entire screen */
  height: 100vh; /* Use viewport height to fill the entire screen */
  position: fixed; /* Use fixed positioning to keep it centered */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background overlay */
}
#loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  max-width: 20%;
  max-height: 20%; /* Adjust the max-height as needed */
}

#loader p {
  text-align: center;
  color: black; /* Optional: Set text color to white or your desired color */
}
/* Add animation keyframes for the spinning effect */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the SVG element with ease-in-out timing */
#loader img {
  animation: spin 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
}
/* Style the input field */
/* Style the container div */

.searchcontainer {
  z-index: 1001;
  position: relative;
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

#searchForm {
  height: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

#searchInput {
  font-size: 18px;
  padding: 5px;
  height: 20px;
  width: 200px;
  border: 1px solid blue;
  outline: none;
  border-radius: 5px;
  color: blue;
  background-color: white;
  border-bottom: none; 
}
#searchButton {
  background-color: #0074D9; /* Adjust to your desired button style */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2px; /* Adjust for spacing between input and button */
  height: 30px;
}
#searchButton:hover {
  background-color: #0056b3; /* Adjust the hover color as desired */
}
#searchResults {
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 200px;
  max-height: 10rem;
  overflow-y: auto
  
}
/* Hide the default browser datalist */
[list]::-webkit-datalist-placeholder {
  display: none !important;
}
[list]::-webkit-datalist-value {
  display: none !important;
}
[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

#searchOption {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
   font-size: 18px;
  cursor: pointer;
}

#searchOption:hover,  .active{
  background-color: lightblue;
}



.default-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.default-button:hover {
  border-color: #646cff;
}
.default-button:focus,
.default-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .default-button {
    background-color: #f9f9f9;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#cancel {
  position: absolute;
  background: gray;
  color: white;
  top: 10px;
  right: 10px;
}

#cancel:hover {
  cursor: pointer;
}

.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.plus-minus {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.minus,
.plus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  text-align: center;
  margin: 5px;
}
