:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

p {
  color: black;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#markerInfo {
  /* Add a higher z-index value to make it appear above the map */
  z-index: 1000;
  /* Add other styles as needed */
  position: absolute;
  background-color: white;
  padding: 10px;
  margin: 2%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
}

#objectList {
  background-color: white;
  z-index: 1000;
  height: 100vh;
  width: 50vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#addObject {
  background-color: #335cff;
  position: relative;
  margin: 10px 20%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: #1a1a1a;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0.5rem 0 0;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796';
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.collapsibleContent {
  padding: 0 18px;
  background-color: #f1f1f1;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.c-checkbox-label {
  color: black;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  font-size: small;
  margin: 5px;
}

.c-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.c-checkmark-span {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 2px;
}

.c-checkbox-label:hover input ~ .c-checkmark-span {
  background-color: #cccc;
  border-color: #335cff;
}

.c-checkbox-label input:checked ~ .c-checkmark-span {
  background-color: #ffffff;
}

.c-checkmark-span:after {
  content: '';
  position: absolute;
  display: none;
}

.c-checkbox-label input:checked ~ .c-checkmark-span:after {
  display: block;
}

.c-checkbox-label .c-checkmark-span:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
