:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  width: 100vw;
  z-index: 1000;
  height: 3.5rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header p {
  font-size: large;
  font-weight: 500;
  margin: 0 1rem;
}

header select {
  border-radius: 8px;
  padding: 0.2rem;
}

h3 {
  text-align: center;
  color: black;
  margin: 2%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  width: 100vh;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

p {
  color: black;
}

.leaflet-control-container {
  position: absolute;
  right: 56px;
}

#map {
  z-index: 1;
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  width: 75%;
  height: 90vh;
  margin-left: 25%;
  margin-top: 5px;
}

#markerInfo {
  position: relative;
  z-index: 1002;
  /* Add other styles as needed */
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex: 1 1 auto;
  padding: 0 1rem;
  height: 100vh;
  width: 50%; /* Limit the maximum width of the div */
  overflow-y: auto;
}

#markerInfo label {
  color: black;
  font-weight: bold;
  display: inline-block; /* Labels and input fields on the same line */
  width: 30%; /* Adjust the width as needed */
  margin-right: 10px; /* Add spacing between labels and input fields */
  text-align: right; /* Align labels to the right */
}

#markerInfo input[type='text'] {
  width: 65%; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle; /* Align input fields vertically with labels */
}
#markerInfo select {
  width: 65%; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle; /* Align input fields vertically with labels */
}

/* CSS for display fields (e.g., <span>) */
#markerInfo span {
  display: inline-block; /* Display spans horizontally */
  width: 65%; /* Match the width of input fields */
  vertical-align: middle; /* Align spans vertically with labels */
  margin-right: 10px; /* Add spacing between spans and labels */
  color: black;
}

/* CSS for .default-button */
#markerInfo .default-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

#markerInfo .default-button:hover {
  background-color: #0056b3;
}
.update-message {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 20px;
  right: 55px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
}
.update-message.show {
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.container {
  z-index: 1000;
  position: absolute; /* Use fixed positioning to keep it centered */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background overlay */
}
#loader {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  max-width: 100%;
  max-height: 100%; /* Adjust the max-height as needed */
}

#loader p {
  text-align: center;
  color: black; /* Optional: Set text color to white or your desired color */
}
/* Add animation keyframes for the spinning effect */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the SVG element with ease-in-out timing */
#loader img {
  animation: spin 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
}

.default-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.default-button:hover {
  border-color: #646cff;
}
.default-button:focus,
.default-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#cancel {
  position: absolute;
  background: white;
  color: black;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

#cancel:hover {
  cursor: pointer;
}

.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.plus-minus {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.minus,
.plus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  text-align: center;
  margin: 5px;
}

.leaflet-control-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
}

.leaflet-top.leaflet-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button.active::after {
  content: '';
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.open.active::after {
  content: '';
}

form.active::after {
  content: '';
}
