#editMap {
  z-index: 1000;
  display: block;
  background-color: #335cff;
  position: relative;
  margin: 10px 15px;
  font-size: 100%;
  width: 200px;
  height: 35px;
  border-radius: 8px;
  color: white;
  padding: 5px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

#editMap:hover {
  background-color: #0033ff;
}

#saveChanges {
  color: white;
  z-index: 1000;
  display: none;
  background-color: #335cff;
  margin: 10px 15px;
  font-size: 100%;
  width: 200px;
  height: 35px;
  border-radius: 8px;
  padding: 5px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

#discardChanges {
  color: white;
  z-index: 1000;
  display: none;
  background-color: rgb(255, 42, 42);
  margin: 10px 0px;
  font-size: 100%;
  width: 200px;
  height: 35px;
  border-radius: 8px;
  padding: 5px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

#saveChanges:hover {
  background-color: #0033ff;
}

#discardChanges:hover {
  background-color: #ff0000;
}

header {
  width: 100vw;
  z-index: 1000;
  height: 3.5rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header p {
  font-size: large;
  font-weight: 500;
  margin: 0 1rem;
}

header select {
  border-radius: 8px;
  padding: 0.2rem;
  height: 35px;
}

header img {
  width: 80px;
  height: 80px;
}
