.leaflet-control-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
}

.leaflet-top.leaflet-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button.active::after {
  content: '';
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.open.active::after {
  content: '';
}

form.active::after {
  content: '';
}
