#create-feature-form {
  position: relative;
  padding: 1rem;
}

#create-feature-form > label {
  font-weight: 600;
}

#create-feature-form > select {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1rem;
  width: 100%;
}

#choose-feature-properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#choose-feature-properties div {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-basis: 50%;
}

#choose-feature-properties div label,
legend {
  flex-basis: 100%;
  position: relative;
  text-transform: capitalize;
}

legend {
  font-weight: 600;
}

#choose-feature-properties div input,
#choose-feature-properties div select {
  flex-basis: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
  margin-right: 10px;
}

#choose-feature-properties input[type='checkbox'] {
  flex-basis: auto;
}

fieldset {
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

#choose-feature-properties button {
  width: 70%;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #335cff;
  font-size: medium;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.25s;
}

#choose-feature-properties button:hover {
  background-color: #335cff;
}

.req {
  color: red;
}

.tips {
  position: absolute;
  z-index: 1000;
  background: #222;
  color: white;
  font-size: 12px;
  padding: 10px 15px;
  top: 2rem;
  text-align: center;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
}

.tips:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent #222 transparent;
  position: absolute;
  bottom: 100%;
}

legend:hover .tips {
  opacity: 1;
  transform: translate(0, 0);
}

label:hover .tips {
  opacity: 1;
  transform: translate(0, 0);
}
